<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Greet me</h1>
{{number}}
<form action="/hello" method="post" >
    <p>Please select language:<p>
    <input type="radio" id="English" name="Language" value="English">
    <label for="English">English</label><br>
    <input type="radio" id="IsiXhosa" name="Language" value="IsiXhosa">
    <label for="IsiXhosa">IsiXhosa</label><br>
    <input type="radio" id="French" name="Language" value="French">
    <label for="French">French</label><br>
    <input type="text" name="username">
    <input type="submit" >
</form>

{{greeting}}
<div>
    <ul>
        {{#each users}}
        <li>{{this}}</li>
        {{/each}}
     </ul>
</div>

<h1>{{user}}</h1>
</body>
</html>